---
layout: base
title: Anna Wehrle
---
{% if page.cover_image %}
<div class="article-cover">
    <div>
        <img src="/images/{{ page.cover_image }}" class="image">
    </div>
</div>
{% endif %}
<article class="container">
  <section>
  <ul style="list-style-type: none;">
  <li> <h1 class="title">{{ page.title }}</h1>
  <li> <h2 class="subtitle">Profiles</h2>
  {% if site.data.wehrle.anna.profiles %}
  {% for profile in site.data.wehrle.anna.profiles %}
    <li> <a href="{{ profile[1] }}">{{ profile[0] }}</a>
  {% endfor %}
  {% endif %}
  </ul>
  </section>
</article>
