---
layout: base
---
<div class="blog-cover" style="background-image:url(/images/{{ site.inc.cover_image }});"></div>

<article class="container">
  <section>
    Hello and welcome to the Wehrle Family website. <a href="{{ site.data.wehrle.rick.path }}">{{ site.data.wehrle.rick.name }}</a> and <a href="{{ site.data.wehrle.ellen.path }}">{{ site.data.wehrle.ellen.name }}</a> Wehrle are the proud parents of <a href="{{ site.data.wehrle.eva.path }}">{{ site.data.wehrle.eva.name }}</a>, <a href="{{ site.data.wehrle.anna.path }}">{{ site.data.wehrle.anna.name }}</a>, <a href="{{ site.data.wehrle.clara.path }}">{{ site.data.wehrle.clara.name }}</a>, and <a href="{{ site.data.wehrle.robert.path }}">{{ site.data.wehrle.robert.name }}</a>. We live in the beautiful <a href="http://www.zionsville-in.gov/">town of Zionsville, Indiana</a>.
  </section>

{% for post in paginator.posts %}
  {% unless post.draft %}
    <section class="index">
        <!-- {% if post.author.image %}<img src="/images/{{ post.author.image }}" class="avatar">{% endif %}-->
        <div>
            <h2 class="title"><a href="{{ post.url }}" rel="prefetch">{{ post.title }}</a></h2>
            <p>{{ post.excerpt }}</p>
            <div class="meta">
                Written By <address>{{ post.author.name }}</address> &mdash;
                <time pubdate datetime="{{ post.date | date: "%Y-%d-%B" }}" title="{{ post.date | date: "%B %d, %Y" }}">{{ post.date | date: "%B %d, %Y" }}</time>
            </div>
        </div>
        <hr>
    </section>
    {% endunless %}
    {% endfor %}
    <section class="pagination" style="text-align:center">
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <a href="/" class="btn btn-outline">‹ Newer</a>
        {% else %}
        <a href="/page{{ paginator.previous_page }}" class="btn btn-outline">‹ Newer</a>
        {% endif %}
      {% endif %}
      {% if paginator.next_page %}
        <a href="/page{{ paginator.next_page }}" class="btn btn-outline">Older ›</a>
      {% endif %}
    </section>
</article>
