---
import Base from '@layouts/Base.astro';
import WhirlyViewer from '@components/WhirlyViewer.astro';
---
<Base title="Wehrle Whirly">
  <article class="container mx-auto max-w-prose py-8 px-4">
    <h1 class="text-3xl font-bold tracking-wide text-center mb-8">Wehrle Whirly</h1>
    <WhirlyViewer />
  </article>
</Base>
