---
import Base from '@layouts/Base.astro';
import diploma from '@assets/rick/diploma.jpg';
---
<Base title="Rick Wehrle's Resume">
  <article class="container mx-auto max-w-prose">
    <section class="m-4">
      <h1 class="text-4xl font-bold">Rick Wehrle</h1>
      <address class="text-gray-700">
        9720 Winter Way<br />
        Zionsville, IN 46077<br />
      </address>
      <h2 class="text-2xl font-semibold my-2">Education</h2>
      <h3 class="text-xl font-semibold"><a href="https://www.purdue.edu/" class="text-blue-500 hover:underline">Purdue University</a></h3>
      Bachelor of Science in <a href="https://www.cs.purdue.edu/" class="text-blue-500 hover:underline">Computer Science</a><br />
      Minors: <a href="https://hhs.purdue.edu/psy/" class="text-blue-500 hover:underline">Psychology</a> and <a href="https://www.math.purdue.edu/" class="text-blue-500 hover:underline">Mathematics</a><br />
      May 1997
      <a href={diploma.src} class="text-blue-500 hover:underline">(Diploma)</a><br />
      <h2 class="text-2xl font-semibold my-2">Experience</h2>
      <h3 class="text-xl font-semibold mt-2"><a href="https://www.carsnoop.com/" class="text-blue-500 hover:underline">CarSnoop</a></h3>
      Chief Technology Officer<br />
      May 2023 to Present<br />
      <h3 class="text-xl font-semibold mt-2"><a href="https://powderkeg.com/" class="text-blue-500 hover:underline">Powderkeg</a></h3>
      Chief Technology Officer<br />
      May 2021 to May 2023<br />
      <h3 class="text-xl font-semibold mt-2"><a href="https://www.vertexintelligence.com/" class="text-blue-500 hover:underline">Vertex Intelligence</a></h3>
      Senior Software Architect<br />
      July 2020 to May 2021<br />
      <h3 class="text-xl font-semibold mt-2"><a href="https://clearsoftware.com/" class="text-blue-500 hover:underline">Clear Software</a></h3>
      Solutions Architect<br />
      February 2020 to July 2020<br />
      <h3 class="text-xl font-semibold mt-2"><a href="https://workhere.com/" class="text-blue-500 hover:underline">Work Here LLC</a></h3>
      Chief Technology Officer<br />
      June 2015 to February 2020<br />
      <h3 class="text-xl font-semibold mt-2"><a href="https://directemployers.org/" class="text-blue-500 hover:underline">DirectEmployers Association</a></h3>
      Vice President of Product Development<br />
      August 2008 to June 2015<br />
      <h3 class="text-xl font-semibold mt-2"><a href="https://www.monster.com/" class="text-blue-500 hover:underline">Monster Worldwide</a></h3>
      Vice President of Global Site Analytics<br />
      August 2007 to August 2008<br />
      <h3 class="text-xl font-semibold mt-2"><a href="https://www.vistaprint.com/" class="text-blue-500 hover:underline">VistaPrint</a></h3>
      Director Channel Analytics<br />
      May 2007 to August 2007<br />
      <h3 class="text-xl font-semibold mt-2"><a href="https://www.monster.com/" class="text-blue-500 hover:underline">Monster Worldwide</a></h3>
      Vice President of Information Services<br />
      May 1997 to May 2007<br />
      <h3 class="text-xl font-semibold mt-2"><a href="https://www.ihets.org/" class="text-blue-500 hover:underline">Indiana Higher Education Telecommunication System</a></h3>
      Network Information Coordinator<br />
      November 1994 to April 1997<br />
      <h3 class="text-xl font-semibold mt-2"><a href="https://www.monster.com/" class="text-blue-500 hover:underline">Online Career Center</a></h3>
      Internet Consultant<br />
      May 1994 to May 1997<br />
    </section>
  </article>
</Base>
