---
layout: base
title: Clara Wehrle
---
{% if page.cover_image %}
<div class="article-cover">
  <div>
    <img src="/images/{{ page.cover_image }}" class="image">
  </div>
</div>
{% endif %}
<article class="container">
  <section>
    <ul class="list-unstyled">
      <li>
        <h1 class="title">Clara Wehrle</h1>
      <li>
        <h2 class="subtitle">Profiles</h2>
        {% if site.data.wehrle.clara.profiles %}
        {% for profile in site.data.wehrle.clara.profiles %}
      <li> <a href="{{ profile[1] }}">{{ profile[0] }}</a>
        {% endfor %}
        {% endif %}
    </ul>
  </section>
</article>