---
import Base from '@layouts/Base.astro';
---
<Base title="Redirecting to RSVP">
  <meta http-equiv="refresh" content="0; URL=https://docs.google.com/forms/d/e/1FAIpQLSf6433EsEHpWEomPG3diqdjrOTnEG37Y3MRWtbnkUjaUh8Gew/viewform" />
  <p class="text-center text-gray-700">Redirecting to RSVP</p>
</Base>
