<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} &mdash; {{ site.title }}{% else %}{{ site.title }} &mdash; {{ site.subtitle }}{% endif %}</title>
    {% if site.inc.google_font %}<link href="https://fonts.googleapis.com/css?family={{ site.inc.google_font }}" rel="stylesheet" type="text/css">{% endif %}
    <link rel="stylesheet" href="/assets/main.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/images/{{ site.inc.logo }}"/>
    {% if site.inc.feed %}<link href="{{ site_url }}/feed.xml" rel="alternate" type="application/rss+xml" title="{{ site.title }}" />{% endif %}
    <meta name="title" content="{% if page.title %}{{ page.title }} {% else %}{{ site.title }}{% endif %}">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    {% if page.site.gplus %}<link rel="publisher" href="https://plus.google.com/{{ site.inc.gplus }}">{% endif %} 
    {% if page.author.gplus %}<link rel="author" href="https://plus.google.com/{{ page.author.gplus }}">{% endif %}       
    <meta property="og:title" content="{% if page.title %}{{ page.title }} {% else %}{{ site.title }}{% endif %}"/>
    <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
    {% if page.cover_image %}
    <meta property="og:image" content="{{ site.url }}/images/{{ page.cover_image }}"/>
    {% if page.main_image %}
    <meta property="og:image" content="{{ site.url }}/images/{{ page.main_image }}"/>  
    {% endif %}
    <meta property="og:image" content="{{ site.url }}/images/{{ site.inc.logo }}"/>   
    {% endif %}
    {% if page.excerpt %}
    <meta property="og:description" content="{{ page.excerpt }}"/>
    <meta name="description" content="{{ page.excerpt }}"/>
    {% endif %}
    <meta property="og:site_name" content="{{ site.title }}">     
</head>
<body>
    
<section class="site-nav">
    <header>
        <nav id="navigation">
            <a class="brand" href="/"><img src="/images/{{ site.inc.logo }}" alt="Tree of Life"></a>
            <a href="{{ site.data.wehrle.rick.path }}">{{ site.data.wehrle.rick.name }}</a>
            <a href="{{ site.data.wehrle.ellen.path }}">{{ site.data.wehrle.ellen.name }}</a>
        </nav>
        <nav class="tagline">
            {% if site.tagline %}
              <span>{{ site.tagline }}</span>
            {% endif %}
            <a href="/" class="btn btn-outline">Wehrle Family</a>
        </nav>
    </header>
</section>

{{ content }}

<footer class="site-footer">
    <div class="container">
        
        <nav>
            &copy; {{ site.time | date: "%Y" }} 
            <a href="/">{{ site.title }}</a>
        </nav>

        <nav>
            <a href="{{ site.data.wehrle.rick.path }}">{{ site.data.wehrle.rick.name }}</a> &middot;
            <a href="{{ site.data.wehrle.ellen.path }}">{{ site.data.wehrle.ellen.name }}</a>
        </nav>

        <nav>
            <a href="{{ site.data.wehrle.eva.path }}">{{ site.data.wehrle.eva.name }}</a> &middot;
            <a href="{{ site.data.wehrle.anna.path }}">{{ site.data.wehrle.anna.name }}</a> &middot;
            <a href="{{ site.data.wehrle.clara.path }}">{{ site.data.wehrle.clara.name }}</a> &middot;
            <a href="{{ site.data.wehrle.robert.path }}">{{ site.data.wehrle.robert.name }}</a>
        </nav>
        
    </div>
</footer>

{% include _scripts.html %}

</body>
</html>
